@font-face {
    font-family: 'OdinFont'; /* Name you want to use for the font */
    src: url('assets/fonts/Norse-Bold.otf') format('opentype'); /* Path to your font file */
    font-weight: normal; /* Specify the weight of the font */
    font-style: normal; /* Specify the style of the font */
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

.logo-banner h2 {
    font-family: OdinFont;
}

input {
    border: 2px solid #E5E7EB;
}


button {
    background-color: #596D48;
    color: white;
    padding: 20px;
    border-radius: 20px;
}